@charset "UFT-8";
@font-face {
    font-family: 'Gamer';
    src: url(../fonte/Gamer.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
--cor0: white;
--cor1: #002C45;
--cor2: black;
--cor3: #002A5C;
--cor4: #054B5C;
--cor5: #015657;

--fonte-padrao: Arial, Helvetica, sans-serif;
--fonte-destaque: 'Gamer';
}

header{
    height: auto;
    background-image: linear-gradient(to bottom, var(--cor1), black);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);

}
header img{
    max-width: 60px;
    max-height: 60px;
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 5px;
}

nav{
    padding-bottom: 10px;
    padding-left: 25px;
    
}

header nav a { 
    text-decoration: none;
    color: var(--cor0);
    margin-left: 10px;
    padding: 5px 2px 10px 2px;
}

nav > a:hover{
    background-color: var(--cor4);

}

main{
   background-image: linear-gradient(to bottom, white, rgba(212, 210, 210, 0.507));
   margin: 0px 30px 0px 30px;
   height: 800px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.664);
}

main h1{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 5em;
    margin-bottom: 15px;
}

main p{
    text-align: justify;
    font-size: 1.5em;
    margin: 0px 15px 0px 15px;
    text-indent: 20px;
    line-height: 1.5em;
}


body{
    margin: 0px;
    background-color: #002C45;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

.pic{
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 250px; 
    padding: 5px;
    
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0px;
} 
 



div.conteiner2{
    display: block;
    margin: 10px 25px;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;

}

aside{
    text-align: center;
    margin: 0px 15px;
}

aside ul{
        list-style: none;
        display: inline-box;
        columns: 2;
        margin: auto;
        padding-left: 20%;
        padding-right: 20%;
              
        font-size: 1.5em;
      }

ul a{
    text-decoration: none;
    color: var(--cor1);


}

ul  a:hover{
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    text-decoration: underline;
    
}

